*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  padding: 2rem;
  font-weight: 300;
  color: #777;
  background-color: rgba(153, 153, 153, 0.1); }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: transparent;
  font-weight: 700;
  letter-spacing: .3rem;
  display: inline-block;
  background-image: linear-gradient(to right, #081B36, #0575e6);
  -webkit-background-clip: text; }

h4 {
  font-size: 3rem;
  color: #081B36;
  font-weight: 700; }

.mb-small {
  margin-bottom: 2rem; }

.mb-medium {
  margin-bottom: 4rem; }

.mb-lg {
  margin-bottom: 6rem; }

.font-sm {
  font-size: 1.4rem !important; }

.flipcard {
  -moz-perspective: 150rem;
  perspective: 150rem;
  position: relative;
  height: 35rem;
  border: none; }
  .flipcard__side {
    height: 35rem;
    transition: all .5s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden; }
    .flipcard__side--front {
      color: #081B36;
      background: #fff;
      text-align: center;
      font-size: 3rem;
      text-transform: uppercase;
      padding-top: 10rem;
      box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
      border-radius: 4px; }
      .flipcard__side--front p {
        color: #777; }
    .flipcard__side--back {
      background-image: linear-gradient(to bottom right, #081B36, #0575e6);
      color: #fff;
      transform: rotateY(180deg);
      text-align: center;
      padding: 2rem 0;
      border-radius: 4px;
      box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2); }
      .flipcard__side--back p {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 3px;
        margin-bottom: 0; }
      .flipcard__side--back ul {
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 0 5rem; }
        .flipcard__side--back ul li {
          padding: .5rem;
          border-bottom: .3px solid #7ac2f2;
          display: inline-block;
          display: block; }
      .flipcard__side--back a {
        text-decoration: none;
        font-size: 1rem;
        margin-top: 1rem;
        background-color: #081B36;
        padding: .8rem 2rem;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        display: inline-block;
        transition: all .2s; }
        .flipcard__side--back a:hover {
          background-color: #fff;
          color: #081B36;
          transform: translateY(-3px); }
        .flipcard__side--back a:active {
          background-color: #fff;
          color: #081B36;
          transform: translateY(0); }
  .flipcard:hover .flipcard__side--front {
    transform: rotateY(180deg); }
  .flipcard:hover .flipcard__side--back {
    transform: rotateY(0); }

.svg-inline--fa {
  font-size: 8rem; }

.dc-fontsize {
  font-size: 1.2rem; }

.section__contact-form {
  background-image: url(../image/photo-1502285745115-13e43e3faad4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
  width: 100%;
  height: 40rem;
  text-align: left; }
  .section__contact-form form {
    border-radius: 3px;
    width: 40%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: left;
    padding: 4rem 3rem;
    -webkit-clip-path: polygon(0 0, 100% 0%, 88% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 88% 100%, 0% 100%); }
    .section__contact-form form input {
      background-color: transparent;
      border: none;
      width: 70%;
      font-size: 1.5rem;
      padding: .5rem 4rem .5rem 1rem;
      border-bottom: 1px solid #777;
      margin-bottom: 2rem; }
    .section__contact-form form textarea {
      width: 70%;
      background-color: transparent;
      border: 1px solid #777;
      padding: .5rem 1rem .5rem 1rem;
      font-size: 1.5rem; }
    .section__contact-form form a {
      text-decoration: none;
      font-size: 1rem;
      margin-top: 1rem;
      background-color: #081B36;
      padding: .8rem 6rem;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      display: inline-block;
      transition: all .2s;
      border-radius: 3px; }
      .section__contact-form form a:hover {
        background-color: #fff;
        color: #081B36;
        transform: translateY(-3px); }
      .section__contact-form form a:active {
        background-color: #fff;
        color: #081B36;
        transform: translateY(0); }

.section__accordion {
  height: auto;
  background-color: rgba(5, 117, 230, 0.1);
  background-image: linear-gradient(to right bottom, rgba(5, 117, 230, 0.01), rgba(0, 87, 146, 0.3)); }
  .section__accordion .container {
    padding: 2rem 10rem 0 3rem; }
  .section__accordion input {
    display: none;
    position: absolute;
    right: 300px;
    transform: translateY(80%);
    transition: all .2s; }
    .section__accordion input:checked ~ section {
      height: auto;
      padding: 2rem 8rem;
      margin-top: -1rem;
      border-radius: 5px 5px 0 0;
      transition: all .2s; }
    .section__accordion input:checked ~ * .fa-plus {
      transform: rotate(45deg);
      transition: all .2s; }
  .section__accordion label {
    background-color: #fff;
    display: block;
    padding: 1rem 0;
    text-indent: 25px;
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 3px;
    cursor: pointer; }
    .section__accordion label .fa-plus {
      font-size: 1.2rem;
      margin-right: 1rem; }
  .section__accordion section {
    background-color: #fff;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.05) inset;
    height: 0;
    overflow: hidden; }
    .section__accordion section h4 {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1.5px;
      color: #081B36; }
    .section__accordion section p {
      font-size: 1.5rem;
      letter-spacing: 1px;
      font-weight: 400; }
    .section__accordion section ul {
      margin-left: 1.5rem;
      list-style-type: square; }
      .section__accordion section ul li {
        font-size: 1.5rem;
        letter-spacing: 1px;
        font-weight: 400; }

.footer {
  height: 10rem;
  background-color: #fff;
  text-align: center;
  padding-top: 2rem; }
  .footer ul {
    list-style: none;
    display: flex;
    justify-content: space-around; }
    .footer ul li {
      font-size: 1.5rem;
      text-transform: uppercase;
      display: inline-block;
      letter-spacing: 2px; }
    .footer ul a:link,
    .footer ul a:visited {
      text-decoration: none;
      color: #777;
      display: inline-block;
      background-size: 220%;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #081B36 50%);
      transition: all .2s; }
      .footer ul a:link:hover, .footer ul a:link:active,
      .footer ul a:visited:hover,
      .footer ul a:visited:active {
        color: #fff;
        transform: scale(1.1) translateY(-2px);
        background-position: 100%;
        box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.6); }
  .footer p {
    padding-top: 2rem;
    letter-spacing: 5px; }

.navbar {
  height: 5rem;
  font-size: 1.5rem;
  background-color: #081B36; }
  .navbar-brand {
    margin-right: auto; }
  .navbar-collapse {
    flex-grow: 0; }
  .navbar-logo img {
    width: 17rem; }
  .navbar-nav li {
    height: 5rem;
    line-height: 4rem;
    dispaly: inline-block;
    padding: 0 5px; }

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  text-transform: uppercase;
  transition: all .4s; }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #081B36;
    background-color: #fff; }
  .navbar-light .navbar-nav .nav-link:focus {
    color: #081B36;
    background-color: #fff; }

.dropdown-menu {
  background-color: #081B36; }
  .dropdown-menu a {
    background-color: #081B36;
    color: #fff;
    text-transform: uppercase;
    padding: 0 5rem 0 2rem;
    text-align: left;
    letter-spacing: 1px; }

.section__ourservice {
  background-color: #fff;
  height: 60rem;
  padding-top: 7rem;
  text-align: center; }

.section__contact {
  height: 64rem;
  padding-top: 7rem;
  text-align: center;
  background-image: linear-gradient(105deg, #2c4971, #005792); }
  .section__contact h2 {
    color: #fff; }

.section-heroImage {
  width: 100wh;
  height: 80vh;
  background-image: url(../image/bigtouchdarkreversed.jpg);
  background-size: cover;
  background-position: center; }
  .section-heroImage .header-content {
    padding: 10rem;
    padding-top: 16%; }
    .section-heroImage .header-content h2 {
      font-size: 4rem;
      color: #fff;
      font-weight: 700;
      letter-spacing: 2px; }
    .section-heroImage .header-content p {
      font-size: 2rem;
      color: #fff; }

.section-header1 {
  text-align: center;
  padding: 4rem;
  background-color: #fff; }
  .section-header1 h2 {
    margin-bottom: 2rem; }
  .section-header1 .cta:visited,
  .section-header1 .cta:link {
    display: inline-block;
    font-size: 2rem;
    color: #fff;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: #2c4971;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    transition: all .2s; }
  .section-header1 .cta:hover {
    background-color: #081B36;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    display: inline-block;
    transform: translateY(-5px); }
  .section-header1 .cta:active {
    background-color: #081B36;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    display: inline-block;
    transform: translateY(-2px); }

.section-hrcontent {
  background-color: #fff;
  height: 55rem;
  padding-top: 3rem; }
  .section-hrcontent .content-left h3 {
    font-size: 3rem;
    color: #081B36;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .section-hrcontent .content-left p {
    font-size: 1.5rem;
    line-height: 1.7; }
  .section-hrcontent .content-right img {
    max-width: 35rem; }

.section-feature {
  text-align: center;
  padding: 5rem;
  background-image: linear-gradient(to right bottom, #2c4971, #0575e6); }
  .section-feature h2 {
    margin-bottom: 4rem;
    color: #fff; }
  .section-feature .feature__card {
    text-align: center;
    background-color: #fff;
    padding: 2rem;
    padding-top: 4rem;
    border-radius: 10px;
    transition: all .2s;
    height: 45rem;
    margin-bottom: 2rem; }
    .section-feature .feature__card-icon {
      margin-bottom: 1rem; }
    .section-feature .feature__card-header {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 700;
      color: #081B36; }
    .section-feature .feature__card-content {
      font-size: 1.5rem; }
    .section-feature .feature__card:hover {
      transform: translateY(-3px);
      box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.6); }

.section-aboutUs {
  background-color: #fff;
  height: 55rem;
  padding-top: 5rem; }
  .section-aboutUs .content-left h3 {
    font-size: 3rem;
    color: #081B36;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .section-aboutUs .content-left p {
    font-size: 1.5rem;
    line-height: 1.7; }
  .section-aboutUs .content-right img {
    max-width: 35rem;
    margin-top: 5rem; }

.section-header2 {
  text-align: center;
  padding: 2rem;
  background-color: #081B36; }
  .section-header2 h2 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: #fff; }
  .section-header2 .cta:visited,
  .section-header2 .cta:link {
    display: inline-block;
    font-size: 1.2rem;
    color: #081B36;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: #fff;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    transition: all .2s; }
  .section-header2 .cta:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    display: inline-block;
    transform: translateY(-5px); }
  .section-header2 .cta:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    display: inline-block;
    transform: translateY(-2px); }

.section-consult {
  height: auto;
  background-color: #fff; }
  .section-consult-top .consult__content-left {
    width: 30rem;
    height: 30rem;
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
    margin-top: 28rem;
    background-color: #2c4971;
    border-radius: 5px; }
    .section-consult-top .consult__content-left .fa-chart-pie {
      display: inline-block;
      margin-bottom: 2rem;
      font-size: 10rem;
      color: #fff; }
    .section-consult-top .consult__content-left h4 {
      font-size: 2.5em;
      color: #fff;
      letter-spacing: 2px; }
  .section-consult-top .consult__content-right {
    width: 70%;
    padding: 2rem;
    padding-left: 5rem;
    margin-top: 10rem; }
    .section-consult-top .consult__content-right p {
      font-size: 1.8rem;
      line-height: 1.7; }
    .section-consult-top .consult__content-right ul {
      padding-left: 1.4rem; }
      .section-consult-top .consult__content-right ul li {
        font-size: 1.8rem; }
  .section-consult-bottom .consult__content-left {
    width: 30rem;
    height: 30rem;
    padding: 2rem;
    padding-top: 7rem;
    text-align: center;
    margin-top: 28rem;
    background-color: #2c4971;
    border-radius: 5px; }
    .section-consult-bottom .consult__content-left .fa-exclamation {
      display: inline-block;
      margin-bottom: 2rem;
      font-size: 10rem;
      color: #fff; }
    .section-consult-bottom .consult__content-left h4 {
      font-size: 2.5em;
      color: #fff;
      letter-spacing: 2px; }
  .section-consult-bottom .consult__content-right {
    width: 70%;
    padding: 2rem;
    padding-left: 5rem;
    margin-top: 10rem; }
    .section-consult-bottom .consult__content-right p {
      font-size: 1.8rem;
      line-height: 1.7; }
    .section-consult-bottom .consult__content-right ul {
      padding-left: 1.4rem; }
      .section-consult-bottom .consult__content-right ul li {
        font-size: 1.8rem; }

.section__inclusive {
  height: 45rem;
  padding-top: 7rem;
  text-align: center;
  background-color: #f7f7f7; }
  .section__inclusive--card {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 5px;
    transition: all .3s; }
    .section__inclusive--card:hover {
      transform: translateY(-5px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
    .section__inclusive--card p {
      font-size: 3rem;
      font-weight: 700;
      color: #333;
      margin-top: 1rem; }
    .section__inclusive--card a {
      text-decoration: none;
      font-size: 1.4rem;
      background-image: linear-gradient(105deg, #2c4971, #005792);
      width: 100%;
      padding: 1rem;
      margin-bottom: .5rem;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      display: inline-block; }

.svg-inline--fa {
  color: #081B36; }

.svg-inline--fa.fa-w-18 {
  font-size: 8rem; }

.svg-inline--fa.fa-w-16 {
  font-size: 8rem; }

.section__quote {
  height: 47rem;
  background-color: rgba(255, 255, 255, 0.9); }
  .section__quote .container {
    display: flex; }
  .section__quote-left {
    width: 30%;
    height: 364.683px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3rem 3rem 0 3rem;
    margin-top: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    border-radius: 3px 0 0 3px;
    overflow: hidden; }
    .section__quote-left img {
      width: 15rem;
      border-radius: 50%;
      display: block;
      border: 5px solid rgba(44, 73, 113, 0.5);
      box-sizing: content-box; }
    .section__quote-left h4 {
      margin-top: .5rem; }
    .section__quote-left p {
      font-size: 1.5rem;
      margin-bottom: 3rem;
      letter-spacing: .5px; }
    .section__quote-left a:link,
    .section__quote-left a:visited {
      background-color: #2c4971;
      display: block;
      align-self: stretch;
      font-size: 2rem;
      letter-spacing: 1px;
      color: #fff;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem;
      margin: 0 -3rem;
      transition: all .3s; }
    .section__quote-left a:hover,
    .section__quote-left a:active {
      background-color: #081B36; }
    .section__quote-left .fa-envelope {
      font-size: 2rem;
      color: #fff;
      margin-right: 1rem; }
  .section__quote-right {
    width: 70%;
    height: 364.683px;
    margin-top: 5rem;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3rem 1.5rem 0 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -0.5rem 0 1rem rgba(0, 0, 0, 0.1) inset;
    border-radius: 0 3px 3px 0;
    overflow: hidden; }
    .section__quote-right h2 {
      font-size: 3rem;
      color: rgba(0, 0, 0, 0.7);
      line-height: 1.5;
      letter-spacing: 1px; }
    .section__quote-right p {
      text-align: center;
      font-size: 2rem;
      color: #777; }

.section-insurnaceRequest {
  text-align: center;
  padding-top: 5rem;
  background-color: #fff;
  height: 90rem; }
  .section-insurnaceRequest .form {
    background-color: #eee;
    margin: 0 auto;
    width: 50%;
    text-align: left;
    padding: 2rem;
    padding-left: 4rem;
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    margin-top: 5rem; }
    .section-insurnaceRequest .form__group {
      margin-bottom: 1rem; }
      .section-insurnaceRequest .form__group-label {
        font-size: 2rem;
        font-weight: 400;
        color: #777;
        margin-bottom: 0; }
      .section-insurnaceRequest .form__group-input {
        width: 95%;
        font-size: 1.4rem;
        padding-left: .5rem;
        padding: .4rem;
        border: none;
        border-bottom: 2px solid #777;
        background-color: transparent; }
      .section-insurnaceRequest .form__group-radio {
        margin-left: 1rem;
        margin-right: 1rem; }
      .section-insurnaceRequest .form__group-btn {
        font-size: 1.4rem;
        margin-top: 2rem; }
        .section-insurnaceRequest .form__group-btn a:link,
        .section-insurnaceRequest .form__group-btn a:visited {
          text-decoration: none;
          color: #fff;
          font-weight: 700;
          background-color: #2c4971;
          padding: .3rem 6rem;
          text-transform: uppercase;
          letter-spacing: 2px;
          border-radius: 5px;
          display: inline-block; }
        .section-insurnaceRequest .form__group-btn a:hover {
          background-color: #081B36; }

.section__business {
  height: 60rem;
  padding-top: 7rem;
  text-align: center;
  background-color: #f7f7f7; }
  .section__business .business__card {
    width: 20rem;
    height: 20rem;
    background-color: #fff;
    padding: 4rem 2rem 2rem 2rem;
    border-radius: 50%;
    margin-right: -2.2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    display: block;
    position: relative;
    transition: all .2s; }
    .section__business .business__card:hover {
      transform: scale(1.01) translateY(-5px);
      box-shadow: 0 0 0 0.5rem #f7f7f7, 0 0 0 1rem rgba(5, 117, 230, 0.5);
      box-sizing: inherit; }
    .section__business .business__card-icon {
      font-size: 7rem;
      color: #081B36; }
    .section__business .business__card-text {
      font-size: 1.8rem;
      font-weight: 700;
      text-transform: uppercase; }
