$color-primary: #081B36;
$color-secondary: #0575e6;
$color-teritory: #2c4971;
$color-fourth: #005792;

$color-grey-light: #999;
$color-grey-medium: #777;
$color-grey-dark: #333;

$color-font: #777;

$color-white: #fff;
$color-black: #000;