/////////
//ACCORDION
.section__accordion {
    height: auto;
    background-color: rgba($color-secondary, .1);
    background-image: linear-gradient(to right bottom, rgba($color-secondary, .01), rgba($color-fourth, .3));
    
    & .container {
        padding: 2rem 10rem 0 3rem;
    }
    
    & input {
        display: none;
        position: absolute;
        right: 300px;
        transform: translateY(80%);
        transition: all .2s;
        
        &:checked ~ section {
            height: auto;
            padding: 2rem 8rem;
            margin-top: -1rem;
            border-radius: 5px 5px 0 0;
            transition: all .2s;
        }
        
        &:checked ~ * .fa-plus {
            transform: rotate(45deg);
            transition: all .2s;
        }
    }
    
    & label {
        background-color: $color-white;
        display: block;
        padding: 1rem 0;
        text-indent: 25px;
        margin: 0 0 1rem 0;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 1px;
        border-radius: 3px;
        cursor: pointer;
        
        & .fa-plus {
            font-size: 1.2rem;
            margin-right: 1rem;
            
        }
        
        
    }
    
    & section {
        background-color: $color-white;
        //padding: 0rem 3rem;
        box-shadow: 0 0 2rem rgba(0,0,0,.05) inset;
        height: 0;
        overflow: hidden;
        
        & h4 {
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1.5px;
            color: $color-primary;
        }
        
        & p {
            font-size: 1.5rem;
            letter-spacing: 1px;
            font-weight: 400;
        }
        
        & ul {
            margin-left: 1.5rem;
            list-style-type: square;
            
            & li {
                font-size: 1.5rem;
                letter-spacing: 1px;
                font-weight: 400; 
            }
        }
        
    }
    
    
} 

