.card {
    -moz-perspective: 150rem;
    perspective: 150rem;
    position: relative;
    height: 35rem;
    border: none;
        
    &__side {
                
        height: 35rem;
        transition: all .5s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        
        &--front{
            color: $color-primary;
            background: #fff;
            text-align: center;
            font-size: 3rem;
            text-transform: uppercase;
            padding-top: 10rem;
            box-shadow: 0 0 3rem rgba(0,0,0,.2);
            border-radius: 4px;
            
            & p {
                color: $color-font;
            }
        }
        
        &--back {
            background-image: linear-gradient(to bottom right, $color-primary, $color-secondary);
            color: $color-white;
            transform: rotateY(180deg);
            text-align: center;
            padding: 2rem 0;
            border-radius: 4px;
            box-shadow: 0 0 3rem rgba(0,0,0,.2);
            
            & p {
                font-size: 3rem;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 3px;
                margin-bottom: 0;
            }
            
            & ul {
                font-size: 1.5rem;
                text-transform: uppercase;
                letter-spacing: 1px;
                padding: 0 5rem;
                
                & li {
                    padding: .5rem;
                    border-bottom: .3px solid #7ac2f2;
                    display: inline-block;
                    display: block;
                }
            }
            
            & a {
                text-decoration: none;
                font-size: 1rem;
                margin-top: 1rem;
                background-color: $color-primary;
                padding: .8rem 2rem;
                color: $color-white;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                display: inline-block;
                transition: all .2s;
               
                &:hover {
                    background-color: $color-white;
                    color: $color-primary;
                    transform: translateY(-3px);
                }
                
                &:active {
                    background-color: $color-white;
                    color: $color-primary;
                    transform: translateY(0);
                }
            }
        }
             
        
    }
    
    &:hover &__side--front {
        transform: rotateY(180deg);
    }
    
    &:hover &__side--back {
        transform: rotateY(0);
    }
    
    
    
}

.svg-inline--fa {
    font-size: 8rem;
}

.dc-fontsize {
    font-size: 1.2rem;
}